@font-face {
    font-family: montserrat;
    src: url(/css/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: kanit;
    src: url(/css/fonts/kanit/Kanit-Regular.ttf);
}

/* =========== reset css ============ */

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

/* ============  card 1          ============= */

#c1a {
    background-color: #000000;
}

#c1b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c1c {
    background-color: #d37c2c;
}

#c1d {
    background-color: #caa977;
}

/* ============  card 2         ============= */

#c2a {
    background-color: #000000;
}

#c2b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c2c {
    background-color: #4556f5;
}

#c2d {
    background-color: #FFBCF0;
    border: 1px solid rgb(37, 37, 37);
}

/* ============  card 3         ============= */

#c3a {
    background-color: #000000;
}

#c3b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c3c {
    background-color: #d37c2c;
}

#c3d {
    background-color: #caa977;
}

/* ============  card 4         ============= */

#c4a {
    background-color: #000000;
}

#c4b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c4c {
    background-color: #FFBCF0;
    border: 1px solid rgb(37, 37, 37);
}

#c4d {
    background-color: #4556f5;
}

/* ============  card 5          ============= */

#c5a {
    background-color: #000000;
}

#c5b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c5c {
    background-color: #FAE634;
}

#c5d {
    display: none;
    background-color: #caa977;
}

/* ============  card 6        ============= */

#c6a {
    background-color: #000000;
}

#c6b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c6c {
    background-color: #4556f5;
}

#c6d {
    display: none;
    background-color: #caa977;
}

/* ============  card 7         ============= */

#c7a {
    background-color: #000000;
}

#c7b {
    background-color: #FAE634;
    /* border: 1px solid rgb(37, 37, 37); */
}

#c7c {
    display: none;
    background-color: #d37c2c;
}

#c7d {
    display: none;
    background-color: #caa977;
}

/* ============  card 8      ============= */

#c8a {
    background-color: #CAA977;
    border: #1e1e1e;
}

#c8b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c8c {
    display: none;
    background-color: #d37c2c;
}

#c8d {
    display: none;
    background-color: #caa977;
}

/* ============  card 9       ============= */

#c9a {
    background-color: #000000;
}

#c9b {
    background-color: #ffffffff;
    border: 1px solid rgb(37, 37, 37);
}

#c9c {
    display: none;
    background-color: #d37c2c;
}

#c9d {
    display: none;
    background-color: #caa977;
}

.btn {
    width: 23px;
    height: 23px;
    padding: 0px;
    border-radius: 50px;
    margin-bottom: 4px;
    pointer-events:none;
    
}

.main {
    background-color: black;

    
}

.album {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
}



.cardBody {
    width: 358px;
    height: 516px;
    margin: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;

}

.cardimg {
    width: 70%;
    margin-top: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1.0);
    transition: all linear .4s;
}

.cardimg:hover {
    transform: scale(1.02);
    transition: all linear .4s;
}

#kebraCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =================== modal ================= */

.slideModelo {
    position: fixed;
    z-index: 4;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.modal-troca {
    padding-top: 0px;
    visibility: visible;
}

#modal-troca {
    padding-top: 0px;
    visibility: visible;
}

.conteudo-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.modal-img {
    width: 20%
}

.slideModelo span {
    color: #fff;
    background-color: #16181b;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 4px 15px 10px 15px;
    font-size: 25pt;
    border-radius: 15px;
}

.slideModelo span:hover {
    color: #f00;
    cursor: pointer;
}

/* ============  Responsivo            ============= */

@media screen and (max-width: 767px) {

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        background-color: #1e1e1e;
        
    }

     article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    } 

    .album {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .container-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        
        
    } 
    
    .card {
        width: 358px;
        height: 516px;
        display: flex;
        align-items: center; 
        margin-bottom: 50px;
        border-radius: 25px;
    }

    .cardimg {
        width: 70%;
        height: 359px;
        display: flex;
        margin-top: 3px;
    }

    .cardBody {
        width: 100%;
        height: 159px;
        display: flex;
        align-items: center;
        font-family: 'kanit';
        font-size: 16px;
        text-align: left;
        font-weight: 400;
        line-height: 24px;
    }

    .bodyA {
        width: 60%;
        height: 159px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 15px;
    }

    .txtA {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .bodyA p {
        margin-bottom: 1px;
    }

    .btn {
        width: 23px;
        height: 23px;
        padding: 0px;
        margin-bottom: 4px;
        border-radius: 50px;
    }

    .sizes {
        font-family: 'montserrat';
        font-weight: 300;
        font-size: 14px;

    }



    .bodyB {
        display: flex;
    }

    .price {
        font-family: 'montserrat';
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    /* modal */

    .slideModelo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        height: 100%;
        z-index: 5;
        padding-top: 90px;

    }

    .conteudo {

        
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }

    .modal-img {
        width: 70%;
        margin-left: 40px;
        margin-right: 40px; 
        margin-bottom: 40px;
    }

    .slideModelo span {
        color: #fff;
        background-color: #16181b;
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 4px 15px 10px 15px;
        font-size: 25pt;
        border-radius: 15px;
    }
    
    .slideModelo span:hover {
        color: #f00;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1e1e1e;
    }

    article {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .album {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        font-display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 348px;
        height: 518px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 70px;
        border-radius: 25px;
    }

    .cardimg {
        width: 70%;
        height: 359px;
        display: flex;
        margin-top: 3px;
    }

    .cardBody {
        width: 100%;
        height: 159px;
        display: flex;
        align-items: center;
        font-family: 'kanit';
        font-size: 16px;
        text-align: left;
        font-weight: 400;
        line-height: 24px;
    }

    .bodyA {
        width: 60%;
        height: 159px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 15px;

    }

    .txtA {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .bodyA p {
        margin-bottom: 1px;
    }

    .btn {
        width: 23px;
        height: 23px;
        padding: 0px;
        border-radius: 50px;
    }

    .sizes {
        font-family: 'montserrat';
        font-weight: 300;
        font-size: 14px;

    }

    .bodyB {
        display: flex;

    }

    .price {
        font-family: 'montserrat';
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 5px;
        margin-right: 10px;
    }


}

@media screen and (min-width: 1024px) {

    main {
        background-color: #1e1e1e;
    }


    .album {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        font-display: flex;

    }

    .card {
        width: 348px;
        height: 518px;
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        border-radius: 25px;
    }

    .cardimg {
        width: 70%;
        height: 359px;
        display: flex;
        margin-top: 3px;
    }

    .cardBody {
        width: 100%;
        height: 159px;
        display: flex;
        align-items: center;
        font-family: 'kanit';
        font-size: 16px;
        text-align: left;
        font-weight: 400;
        line-height: 24px;
    }

    .bodyA {
        width: 60%;
        height: 159px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 15px;

    }

    .txtA {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .bodyA p {
        margin-bottom: 1px;
    }

    .btn {
        width: 23px;
        height: 23px;
        padding: 0px;
        border-radius: 50px;
    }

    .sizes {
        font-family: 'montserrat';
        font-weight: 300;
        font-size: 14px;

    }

    .bodyB {
        display: flex;
    }

    .price {
        font-family: 'montserrat';
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 5px;
        margin-right: 10px;
    }
}