@font-face {
    font-family: montserrat;
    src: url(/css/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: russoOne;
    src: url(/css/fonts/russoOne/RussoOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

@media screen and (max-width: 767px) {

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: nowrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navbar-img-mobile {
        margin-left: 36px;
    }

    .navbar-img-desktop {
        display: none;
    }

    .bg-dark {
        background-color: #FFFFFF!important;
    }

    .text-white {
        margin-left: 20px;
        font-family: 'montserrat';
        color: #000!important;
    }

    .navbar-toggler {
        width: 53px;
        height: 53px;
        margin-right: 33px;
        color: #000!important;
        background-color: rgb(30, 30, 30, 21%);
        font-weight: bold;
        font-size: 1.rem;
        padding: 0;
        font-weight: 600;
        font-style: oblique;
        border: 3px solid rgba(0, 0, 0, 0.966);   
    }
    
    .navbar-light .navbar-toggler-icon {
        background-image: url("/assets/icones/menu-icon.svg");
      
    }

    .text-muted {
        margin-left: 20px;
        font-family: 'montserrat';
        color: #000!important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .navbar-img-mobile {
        display: none;
    }

    .navbar-img-desktop {
        margin-left: 109px;
    }

    .navbar-img-desktop:hover {
        transform: scale(1.1);
    }

    .bg-dark {
        background-color: #FFFFFF!important;
    }

    .text-white {
        font-family: 'montserrat';
        color: #000!important;
    }

    .navbar-toggler {
        width: 53px;
        height: 53px;
        margin-right: 103px;
        color: #000!important;
        background-color: rgb(30, 30, 30, 21%);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("/assets/icones/menu-icon.svg");
      
    }

    .text-muted {
        font-family: 'montserrat';
        color: #000!important;
    }

}

@media screen and (min-width: 1024px)  {

    .navbar-img-mobile {
        display: none;
    }

    .navbar-img-desktop {
        margin-left: 109px;
    }

    .navbar-img-desktop:hover {
        transform: scale(1.1);
    }

    .bg-dark {
        background-color: #FFFFFF!important;
    }

    .text-white {
        font-family: 'montserrat';
        color: #000!important;
    }

    .navbar-toggler {
        width: 53px;
        height: 53px;
        margin-right: 109px;
        color: #000!important;
        background-color: rgb(30, 30, 30, 21%);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("/assets/icones/menu-icon.svg");
      
    }

    .text-muted {
        font-family: 'montserrat';
        color: #000!important;
    }

}