@font-face {
    font-family: montserrat;
    src: url(/css/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: russoOne;
    src: url(/css/fonts/russoOne/RussoOne-Regular.ttf);
}

/* =========== reset css ============ */

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

/* =========== header ============ */

.bg-dark {
    background-color: #FFFFFF!important;
}

.text-white {
    color: #000!important;
}

.text-muted {
    font-size: 17pt;
}

.navbar-dark .navbar-toggler {
    color: black;
    border-color: black;
    background-color: lightslategray;
}


@media screen and (max-width: 767px) {

    /* =========== header ============ */

    .bg-dark {
        background-color: #FFFFFF!important;
    }

    .text-white {
        color: #000!important;
    }

    .text-muted {
        font-size: 17pt;
    }

    .navbar-dark .navbar-toggler {
        color: black;
        border-color: black;
        background-color: lightslategray;
    }

    /* ============ footer ============= */

    footer {
        background-color: #FFFFFF;
        width: 100%;
        height: 189px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pageEnd {
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .logoImg {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textoEnd h2 {
        width: 100%;
        text-align: center;
        font-family: 'montserrat';
        font-size: 11pt;
    }

    .textoEnd p {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-family: 'montserrat';
        font-size: 7pt;
    }

    .jabazinho {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: rgb(218, 218, 218) solid 1px;
    }

    .jabazinho p {
        margin-top: -2px;
        font-family: 'russoOne';
        color: #000;
        font-size: 6pt;
        margin-right: 10px;
    }

    .jabazinho span {
        color: #3f0663;
    }

    .jabazinho nav {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
    }

    .jabazinho nav img {
        width: 90%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .bg-dark {
        background-color: #FFFFFF!important;
    }

    .text-white {
        color: #000!important;
    }

    .text-muted {
        font-size: 17pt;
    }

    .navbar-dark .navbar-toggler {
        color: black;
        border-color: black;
        background-color: lightslategray;
    }

    footer {
        background-color: #FFFFFF;
        width: 100%;
        height: 189px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pageEnd {
        width: 95%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logoImg {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textoEnd h2 {
        width: 100%;
        text-align: center;
        font-family: 'montserrat';
        font-size: 11pt;
    }

    .textoEnd p {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-family: 'montserrat';
        font-size: 7pt;
    }

    .jabazinho {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: rgb(218, 218, 218) solid 1px;
    }

    .jabazinho p {
        margin-top: -2px;
        font-family: 'russoOne';
        color: #000;
        font-size: 7pt;
        margin-right: 10px;
    }

    .jabazinho span {
        color: #3f0663;
    }

    .jabazinho nav {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
    }

    .jabazinho nav img {
        width: 90%;
    }

    .jabazinho nav img:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 1024px) {

    .bg-dark {
        background-color: #FFFFFF!important;
    }

    .text-white {
        color: #000!important;
    }

    .text-muted {
        font-size: 17pt;
    }

    .navbar-dark .navbar-toggler {
        color: black;
        border-color: black;
        background-color: lightslategray;
    }

    footer {
        background-color: #FFFFFF;
        width: 100%;
        height: 189px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pageEnd {
        width: 95%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logoImg {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logoImg  img:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .textoEnd {
        width: 67%;
    }

    .textoEnd h2 {
        width: 100%;
        text-align: center;
        font-family: 'montserrat';
        font-size: 14pt;
    }

    .textoEnd p {
        margin-top: 5px;
        text-align: center;
        font-family: 'montserrat';
        font-size: 9pt;
    }

    .jabazinho {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: rgb(218, 218, 218) solid 1px;
    }

    .jabazinho p {
        margin-top: -2px;
        font-family: 'russoOne';
        color: #000;
        font-size: 9pt;
        margin-right: 10px;
    }

    .jabazinho span {
        color: #3f0663;
    }

    .jabazinho nav {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
    }

    .jabazinho nav img:hover {
        transform: scale(1.1);
    }

}